@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}


html, body, :root {
  @apply dark:text-white text-white
}

body::-webkit-scrollbar {
  width: 8px; 
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.google-button:hover {
  box-shadow: 0 0 5px 5px rgba(240, 240, 240, 0.8);
}

.welcome-text {
  box-shadow: inset 0px -7px 7px 0px rgba(255, 255, 255, 0.7);
}

.loading-spinner {
  border-radius: 50%;
  animation: rotate 4s linear infinite; 
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.white-shadow {
  filter: drop-shadow(0 0 8px white);
}


.blue-shadow {
  filter: drop-shadow(0 0 8px deepskyblue);
}

.yellow-shadow {
  filter: drop-shadow(0 0 8px yellow);
}
.dark-blue-shadow {
  filter: drop-shadow(0 0 8px blue);

}
